## Q1

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.DataFrame({'Obs':[1,2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 15, 16],
                    'team':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P'],
                    'points':[18,24,26,34,38,45,48,54,60,73,79,85,94,98,221,223]})
data

    Obs team  points
0     1    A      18
1     2    B      24
2     3    C      26
3     4    D      34
4     5    E      38
5     6    F      45
6     7    G      48
7     8    H      54
8     9    I      60
9    10    J      73
10   11    K      79
11   12    L      85
12   13    M      94
13   14    N      98
14   15    O     221
15   16    P     223